.passSecTooltip{
    border-color: #f7eab2;
    background-color: #f7eab2;
    font-size: 13px;
    min-width: 400px;
}
#passSecDomain{
  font-weight:bold;
  color:black;
  letter-spacing: 4px;
}
#passSecSecurityStatus{
  margin-top: 5px;
}
