.passSecTooltip {
    max-width: 450px !important;
    border: solid 0.3rem #bfb9b9;
    border-radius: 5px;
    background-color: white !important;
}

.passSecHighRisk {
    border: 0.3rem solid red !important;
  }

.passSecTooltip div {
    margin: 0 0 10px 0;
}

.passSecTooltip img {
    float: left;
    width: 25px;
    height: 25px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.qtip-content {
    background-color: white !important;
    cursor: default;
    text-rendering: optimizeLegibility;
}

.passSecTooltipText {
    font-size: 14px !important;
    line-height: 130% !important;
    max-width: 450px !important;
}

.passSecHighlight {
    font-weight: bold;
    display: inline;
    margin-bottom: 0px !important;
    margin-right: 2px;
  }

.passSecConfirm {
    font-size: 14px !important;
}

.passSecTooltipText, .passSecConfirmTitle, .passSecConfirm {
    color: black !important;
    font-family: Helvetica !important;
}

.passSecTooltipText#passSecDomain, .passSecDomain.passSecDomainConfirm {
    font-family: Helvetica !important;
}

p.passSecTooltipText {
    margin: 13px 0;
}

hr.http-warning {
    margin: 5px 0;
    border: 0;
    height: 1px;
    color: black;
    background-color: black;
}

hr.https {
    margin: 5px 0;
    border: 0;
    height: 1px;
    color: black;
    background-color: black;
}

#passSecPhishingText, #passSecConsequenceText, #passSecRecommendationText, #passSecInfoText, #passSecTooltipSummary {
    overflow: hidden !important;
}

#passSecPhishingImage, #passSecConsequenceImage, #passSecRecommendationImage, #passSecInfoImage {
    float: left !important;
    width: 30px !important;
    height: 30px !important;
    padding-right: 10px !important;
}

.passSecTooltip > .littleText {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

#passSecTooltipSummary {
    font-weight: bold !important;
    margin-bottom: 2px !important;
    max-width: 450px !important;
    word-break: break-word;
}

#passSecDomain, .passSecDomain {
    margin: 2px 0 2px 4px !important;
    font-weight: bold !important;
    color: black !important;
    letter-spacing: 3px !important;
}

.passSecDomainConfirm {
    display: inline;
}

#passSecRiskText {
    display: block !important;
}

#passSecPhishing, #passSecConsequence, #passSecRiskText, #passSecTooltipSummary, #passSecURL, .passSecTooltipText {
    max-width: 450px !important;
}

#passSecRecommendation, #passSecInfo, #passSecButtons, #passSecInputDelayText, #passSecTooltipSummary {
    text-decoration: none !important;
    clear: both !important;
    max-width: 450px !important;
    margin-top: 10px !important;
}

#passSecURL {
    margin-top: 10px !important;
    word-break: break-all;
    margin-bottom: 13px;
    text-decoration: none;
}

.passSecClickable:hover {
    text-decoration: underline !important;
    cursor: pointer !important;
}

#passSecButtonSecureMode {
    color: white !important;
}

#passSecButtonException, #passSecButtonClose {
    color: black !important;
}

#passSecButtonException, #passSecButtonClose, #passSecButtonSecureMode {
    float: left !important;
    border: 1px solid black !important;
    background-color: white !important;
    margin: 4px 5px 0 0 !important;
    display: inline-block;
    padding: 2px 4px !important;
    font-family: Helvetica !important;
    text-decoration: none !important;
    box-shadow: none !important;
    cursor: default !important;
}

#passSecButtonException.redButton {
    background-color: red !important;
}

#passSecButtonSecureMode.greenButton {
    background-color: green !important;
}
