.passSecTooltip {
    max-width: none !important;
}

.qtip-content {
    border-color: #ffffcd !important;
    background-color: #ffffcd !important;
    cursor: default;
    text-rendering: optimizeLegibility;
}

.passSecTooltipText {
    font-size: 13px !important;
    color: black !important;
    font-family: Corbel, sans-serif !important;
    line-height: 110% !important;
}

.passSecTooltipText#passSecDomain {
    font-family: Calibri, sans-serif !important;
}

p.passSecTooltipText {
    margin: 13px 0;
}

hr.http-warning {
    margin: 5px 0;
    border: 0;
    height: 1px;
    color: black;
    background-color: black;
}

#passSecPhishingText, #passSecConsequenceText, #passSecRecommendationText, #passSecInfoText {
    overflow: hidden !important;
}

#passSecPhishingImage, #passSecConsequenceImage, #passSecRecommendationImage, #passSecInfoImage {
    float: left !important;
    width: 30px !important;
    height: 30px !important;
    margin-right: 10px !important;
}

.passSecTooltip > .littleText {
    padding-top: 1px !important;
    padding-bottom: 1px !important;
}

#passSecWarning {
    font-weight: bold !important;
    margin-bottom: 2px !important;
}

#passSecDomain, .passSecDomain {
    margin: 2px 0 2px 4px !important;
    font-weight: bold !important;
    color: black !important;
    letter-spacing: 3px !important;
}

.passSecDomainConfirm {
    display: inline;
}

#passSecVerify {
    display: block !important;
}

#passSecPhishing, #passSecConsequence {
    max-width: 350px !important;
}

#passSecRecommendation, #passSecInfo, #passSecButtons {
    text-decoration: none !important;
    clear: both !important;
    max-width: 350px !important;
    margin-top: 2px !important;
}

.passSecClickable:hover {
    text-decoration: underline !important;
    cursor: pointer !important;
}

#passSecButtonException, #passSecButtonClose {
    float: left !important;
    border: 1px solid black !important;
    background-color: white !important;
    margin: 4px 5px 0 0 !important;
    display: inline-block;
    color: black !important;
    padding: 2px 4px !important;
    font-family: Corbel, sans-serif !important;
    text-decoration: none !important;
    box-shadow: none !important;
    cursor: default !important;
}

#passSecButtonException.redButton {
    background-color: red !important;
}

#passSecButtonException.greenButton {
    background-color: green !important;
}
