.firefox-password-warning-red-text {
    color: black;
    font-weight: bold;
    /*font-style:italic;*/
}

.firefox-password-warning-border {
    outline: 2px red !important;
}

description.passsecLink {
    color: black !important;
    cursor: pointer;
}

#standardwarning {
    font-weight: bold;
}

button.custom,.safezone ,.unsafe,.phishing-warning-switch
{
	-moz-appearance: none !important;
	border: 1px solid !important;
	color: black !important;
	outline-color: black;
}

button.safezone
{
	background-color: green !important;
}

button.unsafe
{
	background-color: red !important;
}

#warnpanel2 {
    border: 2px red;
}

.firefox-password-warning-background {
    background-color: #FF0000 !important;
}

.firefox-password-ok-border {
    border: 2px solid #fdb000 !important;
}

.firefox-password-secure-border {
    border: 2px solid #4dbc4f !important;
}

.closebutton {
    min-width: 1em;
}

#toolbarButton[value='redirectOn']{
  list-style-image: url("chrome://firefoxpasswordwarningextension/skin/redirectActive.png");
}

#toolbarButton[value='redirectOff']{
  list-style-image: url("chrome://firefoxpasswordwarningextension/skin/redirectInactive.png");
}

#toolbarButton[value='redirected']{
  list-style-image: url("chrome://firefoxpasswordwarningextension/skin/redirected.png");
}

#lists {
    overflow: auto;
}
